# Database Configuration
# Format: mysql+pymysql://<username>:<password>@<host>:<port>/<database_name>
SQLALCHEMY_DATABASE_URI=mysql+pymysql://your_username:your_password@localhost:3306/your_database_name